name: continuous integration

on:
  push:
    paths:
      - src/**
      - features/**
      - .github/workflows/ci.yml
  workflow_dispatch:
    inputs:
      publishType:
        description: wat moet worden gereleased?
        required: true
        default: ''
        type: choice
        options:
          - ci-only
          - gezag-proxy-mock
          - gezag-mock

env:
  NODE_VERSION: '20'
  DOTNET_SOLUTION_FILE_PATH: src/data-service.sln
  APP_PROJECT_PATH: ./src/GezagMock
  APP_CSPROJ_FILE_PATH: ./src/GezagMock/GezagMock.csproj
  APP_CONTAINER_IMAGE: ghcr.io/brp-api/gezag-mock
  MOCK_PROJECT_PATH: ./src/GezagProxyMock
  MOCK_CSPROJ_FILE_PATH: ./src/GezagProxyMock/GezagProxyMock.csproj
  MOCK_CONTAINER_IMAGE: ghcr.io/brp-api/gezag-proxy-mock

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Genereer build run identifier
        id: build-run-id
        uses: ./.github/actions/genereer-build-run-identifier

      - name: Zet versie met build run in Gezag mock csproj
        uses: ./.github/actions/zet-versie-met-build-run-in-csproj
        id: app-version
        with:
          path-csproj-file: ${{ env.APP_CSPROJ_FILE_PATH }}
          build-run: ${{ steps.build-run-id.outputs.build-run }}
      - name: Zet versie met build run in Gezag Proxy mock csproj
        uses: ./.github/actions/zet-versie-met-build-run-in-csproj
        id: mock-version
        with:
          path-csproj-file: ${{ env.MOCK_CSPROJ_FILE_PATH }}
          build-run: ${{ steps.build-run-id.outputs.build-run }}

      - name: Valideer .NET solution
        uses: ./.github/actions/valideer-dotnet-solution
        with:
          path-solution-file: ${{ env.DOTNET_SOLUTION_FILE_PATH }} 
  
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install dependencies
        run: npm ci

      - name: Zet run permissions op script folder
        uses: ./.github/actions/zet-run-bash-scripts-permission
        with:
          path-bash-file-or-folder: ./scripts/*

      - name: Build container images
        run: |
          ./scripts/containers-build.sh ci

      - name: Start containers
        run: |
          ./scripts/containers-start.sh ci
      - name: Wait for DB restart
        run: sleep 5s
        shell: bash

      - name: Stop containers
        if: always()
        run: |
          ./scripts/containers-stop.sh ci

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.1.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Tag & push gezag mock container images naar registry
        if: always() && inputs.publishType == 'gezag-mock'
        run: |
          docker tag ${{ env.APP_CONTAINER_IMAGE }}:latest ${{ env.APP_CONTAINER_IMAGE }}:${{ steps.app-version.outputs.version }}-latest
          docker tag ${{ env.APP_CONTAINER_IMAGE }}:latest ${{ env.APP_CONTAINER_IMAGE }}:${{ steps.app-version.outputs.version }}-${{ steps.build-run-id.outputs.build-run }}
          docker push ${{ env.APP_CONTAINER_IMAGE }}:${{ steps.app-version.outputs.version }}-latest
          docker push ${{ env.APP_CONTAINER_IMAGE }}:${{ steps.app-version.outputs.version }}-${{ steps.build-run-id.outputs.build-run }}
      - name: Tag & push gezag proxy mock container images naar registry
        if: always() && inputs.publishType == 'gezag-proxy-mock'
        run: |
          docker tag ${{ env.MOCK_CONTAINER_IMAGE }}:latest ${{ env.MOCK_CONTAINER_IMAGE }}:${{ steps.mock-version.outputs.version }}-latest
          docker tag ${{ env.MOCK_CONTAINER_IMAGE }}:latest ${{ env.MOCK_CONTAINER_IMAGE }}:${{ steps.mock-version.outputs.version }}-${{ steps.build-run-id.outputs.build-run }}
          docker push ${{ env.MOCK_CONTAINER_IMAGE }}:${{ steps.mock-version.outputs.version }}-latest
          docker push ${{ env.MOCK_CONTAINER_IMAGE }}:${{ steps.mock-version.outputs.version }}-${{ steps.build-run-id.outputs.build-run }}
